body {
  background-color: #dcd9c8;
  background-image: url("icon.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: soft-light;
  font-size: small;
  font-family: "Roboto", sans-serif;
}

body > div {
  margin: auto;
}

.header > fieldset {
  color: snow;
  background-image: linear-gradient(#2980b9, #2471a3, #003399);
}

.main-parent {
  min-height: 81vh;
}

.main-parent fieldset {
  background: white
    url(https://help.ubuntu.com/lts/ubuntu-help/img/bg_dotted.png);
}

.main {
  display: flex;
  flex-direction: row;
}

.main > * {
  flex: 1;
}

.main > div {
  border-left: 1px solid gray;
}

.main > div > fieldset {
  border: 0;
  border-top: 1px solid gray;
}

#filter-subject {
  text-transform: uppercase;
}

#subject-list {
  padding: 5px;
  z-index: 10;
}

div#subject-list table,
div#pdf-list table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.footer > fieldset {
  background-color: #5d6d7e;
  border: 1px solid gray;
}

h1 {
  margin: 0;
}

fieldset {
  margin-bottom: 10px;
  background-color: #f8f9f9;
}

legend {
  color: snow;
  border: 1px solid black;
  padding: 0.1em 0.5em;
  background-image: linear-gradient(#2980b9, #2471a3, #003399);
}

td {
  padding: 5px;
}

.footer table,
.header table {
  border-collapse: collapse;
}

.footer td,
.header td {
  background-color: snow;
}

a {
  color: royalblue;
  text-decoration: none;
  font-weight: bold;
}

button {
  cursor: pointer;
}

i {
  color: black;
}

@media (max-width: 1000px) {
  .main {
    flex-direction: column;
  }

  .main > div {
    flex: 0;
  }
}
